
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        This is the homepage. Welcome home.
        <p><a href="Login">Login</a></p>
        <p><a href="Register">Register</a></p>
    </div>
</body>
</html>
