
@{
    ViewBag.Title = "Minesweeper CLC";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<div>
    This is the homepage. Welcome home.
    <p><a href="Login">Login</a></p>
    <p><a href="Register">Register</a></p>
</div>
