@model MinesweeperModels.Board
@{
    AjaxOptions ajaxOptions = new AjaxOptions();
    ajaxOptions.HttpMethod = "POST";
    ajaxOptions.InsertionMode = InsertionMode.Replace;
    ajaxOptions.UpdateTargetId = "gameboard";
}
<script>
    $(document).ready(function () {
        $(document).contextmenu(function () {
            return false;
        });
        $('.minesweeper').mousedown(function (event) {
            if (event.which == 3) {
                console.log("event 3. right click");
                //URL, DATA, callback
                $.post("@Url.Action("OnButtonRightClick", "Minesweeper")", {mine: this.getAttribute("value")}, function (data) {
                    console.log(data);
                    $("#gameboard").html(data);
                });
            }
        });
    });
</script>
@Model.GameAlert
<br />
Board From: @Model.TimeStarted

@using (Ajax.BeginForm("OnButtonClick", "Minesweeper", ajaxOptions))
{
    for (int row = Model.Size - 1; row >= 0; --row)
    {
        for (int column = 0; column < Model.Size; column++)
        {
            string MineID = row + "|" + column;
            string image = Model.Grid[row, column].NumOfLiveNeighbors + ".png";
            if (column % Model.Size == 0)
            {
                <br />
            }

            <button class="minesweeper" type="submit" name="mine" value=@MineID style="width:40px;height:40px;">
                @if (Model.Grid[row, column].IsVisited)
                {
                    if (Model.Grid[row, column].IsLive)
                    {
                        <img src="~/Images/b.png" style="width:30px;height:30px;" />
                    }
                    else
                    {
                        <img src="~/Images/@image" style="width:30px;height:30px;" />
                    }
                }
                else if (Model.Grid[row, column].IsFlagged)
                {
                    <img src="~/Images/f.png" style="width:30px;height:30px;" />
                }
                else
                {
                    <img src="~/Images/q.png" style="width:30px;height:30px;" />
                }

            </button>
        }

    }
}
@using (Ajax.BeginForm("onGameSave", "Minesweeper", ajaxOptions))
{
    <input type="submit" value="Save Game" />
}