@model MinesweeperModels.Board
@{
    ViewBag.Title = "Minesweeper";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}

<h2>Minesweeper</h2>
@using (Html.BeginForm("OnButtonClick", "Minesweeper"))
{
    for (int row = Model.size - 1; row >= 0; --row)
    {
        for (int column = 0; column < Model.size; column++)
        {
            string MineID = row + "|" + column;
            if (column % Model.size == 0) { <br /> }
            
            <button type="submit" name="mine" value=@MineID>
                @if (Model.grid[row, column].isVisited)
                {
                    @Html.DisplayFor(Model => Model.grid[row, column].numOfLiveNeighbors);
                }
                else
                {
                    <i>?</i>
                }
            </button>
        }

    }
}


