@model MinesweeperModels.Board
@{
    ViewBag.Title = "Minesweeper";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}
<h2>
     Minesweeper
</h2>
 Today: @DateTime.Now.ToShortDateString()
<br />

<div id="gameboard">
    @Html.Partial("_Minesweeper", Model);
</div>

