@model MinesweeperModels.Board
@{
    ViewBag.Title = "Minesweeper";
    Layout = "~/Views/Shared/_MyDefaultLayout.cshtml";
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
<script>
    $(document).ready(function () {
        $(document).contextmenu(function () {
            return false;
        });
        $('.minesweeper').mousedown(function (event) {
            if (event.which == 3) {
                console.log("event 3. right click");
                //URL, DATA, callback
                $.post("@Url.Action("OnButtonRightClick", "Minesweeper")", {mine: this.getAttribute("value")}, function (data) {
                    console.log(data);
                    $("body").html(data);
                });
            }
        });
    });
</script>

<h2>
     Minesweeper @ViewBag.Message
</h2>
<div class="container">
    @using (Html.BeginForm("OnButtonClick", "Minesweeper"))
    {
        for (int row = Model.size - 1; row >= 0; --row)
        {
            for (int column = 0; column < Model.size; column++)
            {
                string MineID = row + "|" + column;
                string image = Model.grid[row, column].numOfLiveNeighbors + ".png";
                if (column % Model.size == 0)
                {<br /> }

                <button class="minesweeper" type="submit" name="mine" value=@MineID>
                  @if (Model.grid[row, column].isVisited)
                  {
                      if (Model.grid[row, column].isLive)
                      {
                          <img src="~/Images/b.png" style="width:30px;height:30px;"/>
                      }
                      else
                      {
                          <img src="~/Images/@image" style="width:30px;height:30px;"/>
                      }
                   }
                   else if (Model.grid[row, column].isFlagged)
                   {
                        <img src="~/Images/f.png" style="width:30px;height:30px;"/>
                   }
                   else
                   {
                        <img src="~/Images/q.png" style="width:30px;height:30px;"/>
                   }
                    
                </button>
            }

        }
    }
</div>

